
.env
.env.*
__pycache__/
*.pyc
*.pyo
*.pyd

backend/venv/
venv/
.venv/

*.log
*.sqlite
*.db

.cache/
.pytest_cache/


*.pt
*.pth
*.bin
*.model
*.joblib

backend/data/
backend/models/
backend/embeddings/
backend/vector_store/

evaluation_logs.json


**/node_modules/
frontend/build/
frontend/dist/
build/
dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*


extension/dist/
extension/build/

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db